<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en-US">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        Local translation within component
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="ion-padding">
    <ion-card-header>
      Simple
    </ion-card-header>
    <ion-card-content>
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-card-header>
      With Params
    </ion-card-header>
    <ion-card-content>
      <h1>{{ title_2 }}</h1>
      <p>{{ description }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-card-header>
      Simple with directive
    </ion-card-header>
    <ion-card-content>
      <h1 translate>TITLE</h1>
      <p [translate]="'description'"></p>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-padding">
    <ion-card-header>
      With params, with directive
    </ion-card-header>
    <ion-card-content>
      <h1 [translate]="'TITLE_2'" [translateParams]="{value: 'John'}">TITLE</h1>
      <p [translate]="'description'"></p>
    </ion-card-content>
  </ion-card>
</ion-content>